<div class="nav-bar py-3 px-5 w-100 d-flex">
    <ng-container *ngTemplateOutlet="menuBtn"></ng-container>
    <img routerLink="/" role="button"
         src="../../assets/images/svgs/logo.svg"
         alt="jackie portfolio logo" />
    <div class="flex-grow-1"></div>
    <button type="button" mat-Stroked-button
            class="dark-blue-outline-btn me-4">
        Become Member
        <mat-icon class="text-dark-blue icon ms-3">person_add</mat-icon>
    </button>

    <div class="d-flex align-items-center dark-blue-text-btn"
         role="button">
        <span class="me-2">Sign In</span>
        <mat-icon class="text-dark-blue icon">login</mat-icon>
    </div>
</div>
