@import "style/abstracts/_variables.scss";

.page {
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(250,247,253,1) 21%, rgba(246,241,252,1) 48%, rgba(250,247,253,1) 80%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;

    &__bg-image {
        background-image: url(/assets/images/svgs/flower.svg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
        background-position: top 100px center;
    }
}

.mat-sidenav {
    width: 325px;
    background-color: $pink-blush;
}
