<mat-sidenav-container class="h-100"
					   [hasBackdrop]="true">
	<mat-sidenav #sidenav [(opened)]="opened"
				 mode="over">
		<app-side-nav-menu (onMenuClose)="sidenav.toggle()"></app-side-nav-menu>
	</mat-sidenav>

	<mat-sidenav-content>
		<div class="page h-100 position-relative">
			<div class="page__bg-image position-absolute h-100 w-100"></div>
			<div class="main-content w-100 h-100 position-absolute">
				<app-nav-bar [menuBtn]="menuBtn">
					<ng-template #menuBtn>
						<mat-icon mat-button (click)="sidenav.toggle()"
								  role="button"
								  class="dark-blue-text-btn my-auto me-4 ">menu</mat-icon>
					</ng-template>
				</app-nav-bar>
			</div>
			

			<router-outlet></router-outlet>
		</div>

	</mat-sidenav-content>
</mat-sidenav-container>

