/* You can add global styles to this file, and also import other style files */
@import 'app/style/abstracts/_variables.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
}

body, .mat-drawer-container {
    color: $off-black;
    font-family: $regular-font;
    font-size: 16px;
}

:focus-visible {
    outline: none;
    //outline: #c1b1d4 auto 1px !important;
}
