@import "_variables.scss";

.border-dark-blue {
    border-color: $dark-blue !important
}

.border-pink-blush {
    border-color: $pink-blush !important
}

.border-perriwinkle {
    border-color: $perriwinkle !important
}
