$dark-blue: #031F58;
$pink-blush: #BF73A2;
$perriwinkle: #93AAD8;
$pink-blush-opacity-50: #F6F1FC;
$off-white: #F8F8F8;
$off-black: #202020;
$pink: #C13D8F;
$header-font: 'Josefin Slab', 'Global Sans Serif';
$regular-font: 'Source Sans pro', sans-serif;
