<div class="px-4 py-3 h-100">
    <div class="d-flex align-items-center">
        <img routerLink="/" role="button"
             alt="jackie portfolio logo"
             src="../../assets/images/svgs/logo_white.svg" />
        <div class="flex-grow-1"></div>
        <mat-icon class="white-text-btn" role="button"
                  (click)="onMenuClose.emit()">close</mat-icon>
    </div>

    <div class="white-text-btn mt-5 menu-link" role="button">Portfolio</div>
    <div class="white-text-btn mt-4 menu-link" role="button">Games</div>
    <div class="white-text-btn mt-4 menu-link" role="button">About Me</div>


</div>
